.full-width {
  width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.half-width {
  width: 50%;
}

.solid-border {
  border: .2rem solid black;
}

.image-label {
  text-align: center;
  font-style: italic;
}